<!DOCTYPE html>
<html>
<head>
  <title>Email Confirmation</title>
</head>
<body>
  <h1>Email Confirmation</h1>
  <p>Please confirm your email by clicking on the following link:</p>
  <a href="<%= confirmationUrl %>">Confirm Email</a>
</body>
</html>