<!DOCTYPE html>
<html>
<head>
  <title>Suspension Review Request</title>
</head>
<body>
  <h1>Suspension Review Request</h1>
  <p>User <%= userEmail %> has requested a review of their suspension. Reason:</p>
  <p><%= reason %></p>
</body>
</html>